/* General styles */

@font-face {
    font-family: 'avenir';url('font/avenir-lt-std-55-roman.otf') format('otf'),
}

body {
    font-family: 'avenir', 'Lato', sans-serif;
    font-weight: normal;
    background: #EBF2F6;
}

img {
    max-width: 100%;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

ul {
    font-size: 20px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px
}

.container {
    max-width: 1024px !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.medium-padding {
    padding: 25px;
}

.newline {
    display: block;
}

/*Logos & banners*/

#logo img {
    margin-left: 15px;
    height: 34px;
    margin-top: 8px;
}

#header-desktop #header-twitter img {
    width: 22px;
}

#header-desktop #actions .item {
    margin: 0 40px 0 0;
    font-size: 1.4em;
}

#actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#actions .action-button {
    width: 200px;
    text-align: center;
}

.menu-desktop {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.menu-desktop a {
    padding-right: 25px;
    padding-left: 25px;
    color: #648DFF
}

.navbar-default {
    background: none;
    border: 0;
}

#action-button-mobile {
    background: #6B4DFB;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
}

.action-button {
    background: #648DFF;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.action-button.call-to-action {
    padding: 10px 40px;
    font-size: 20px;
}

.action-button:hover {
    color: white;
}

/*Containers*/

.footer-sponsor-button {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-subtitle {
    padding-top: 40px;
    padding-bottom: 40px
}



/*text*/

.main-title {
    font-size: 45px;
    font-weight: 800;
    color: #665EFB;
    text-align: center;

    background: linear-gradient(to right, #7135FB, #54BDFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title {
    font-size: 90px;
    margin-bottom: 0;

    background: #5A8CFC;
    -webkit-background-clip: text
}

.main-subtitle {
    color: #5A8CFC;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.main-smaller-subtitle {
    font-size: 18px;
}

.section-image-speaker-title {
    margin-top: -200px
}

.section-image-title {
    margin-top: -50px;
    text-align: left;
}

.info-text {
    color: white;
}

.colored {
    color: #6B4DFB
}

.gradient-background {
    background: -webkit-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -moz-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -o-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: linear-gradient(to top right, #6B4DFB, #66BCFF);
}

.gradient-background img, .keynotes img, #fibes img {
    box-shadow: 12px 12px 29px #555;
}

.flex-column-container {
    display: flex;
    align-items: center;
    flex-direction: column
}

.keynote-inspiration-text {
    font-size: 20px;
    font-weight: normal;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5A8CFC;
    text-align: center;
}

/* Talks */

#votes-counter{
    position: fixed;
    top: 50%;
    left: 15px;
    z-index: 2000;
    padding: 15px 30px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: white;
    font-weight: bold;
    background: rgba(95,14,226,1);
    background: -moz-linear-gradient(left, rgba(95,14,226,1) 0%, rgba(103,29,249,1) 23%, rgba(92,100,248,1) 55%, rgba(92,143,243,1) 86%, rgba(89,170,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,14,226,1)), color-stop(23%, rgba(103,29,249,1)), color-stop(55%, rgba(92,100,248,1)), color-stop(86%, rgba(92,143,243,1)), color-stop(100%, rgba(89,170,240,1)));
    background: -webkit-linear-gradient(left, rgba(95,14,226,1) 0%, rgba(103,29,249,1) 23%, rgba(92,100,248,1) 55%, rgba(92,143,243,1) 86%, rgba(89,170,240,1) 100%);
    background: -o-linear-gradient(left, rgba(95,14,226,1) 0%, rgba(103,29,249,1) 23%, rgba(92,100,248,1) 55%, rgba(92,143,243,1) 86%, rgba(89,170,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(95,14,226,1) 0%, rgba(103,29,249,1) 23%, rgba(92,100,248,1) 55%, rgba(92,143,243,1) 86%, rgba(89,170,240,1) 100%);
    background: linear-gradient(to right, rgba(95,14,226,1) 0%, rgba(103,29,249,1) 23%, rgba(92,100,248,1) 55%, rgba(92,143,243,1) 86%, rgba(89,170,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f0ee2', endColorstr='#59aaf0', GradientType=1 );
}
.filter-button-group, .sort-by-button-group{
    color: #5788FF;
    font-weight: bold;
    margin-bottom: 20px;
}

.filter-button-group button, .sort-by-button-group button{
    padding: 5px 15px;
    background: white;
    border: 1px solid #5788FF;
    color: #5788FF;
    margin-left: 10px;
    font-weight: bold;
}

.filter-button-group button[is-checked="is-checked"],
.sort-by-button-group button[is-checked="is-checked"]{
    background: #5788FF;
    color: white;
}

.buttons-title{
    text-align: right;
    padding-top: 7px;
}

.grid-item{
    width: 46.5%;
    padding: 15px;
    margin:1%;
    color: #1D1D1B;
    background: #fff;
    border: 2px solid ;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
}

#talks-container{
    margin-top: 50px;
}

.speaker img{
    float: left;
    margin-right: 20px;
    width: 100px;
}

.speaker p{
    font-size: 14px;
}

.speaker #speaker-title{
    font-weight: bold;
    margin-bottom: 25px;
}

.speaker #speaker-name{
    font-weight: bold;
    margin-bottom: 5px;
}

.speaker .speaker-details{
    margin-left: 120px;
}

.speaker .speaker-details a{
    display: inline-block;
    margin-right: 15px;
    text-align: left;
    color: #5788FF;
}

.speaker hr{
    float:left;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid #5788FF;
    margin: 15px 0 25px 0;
    padding: 0; 
}

.want-vote-message{
    text-align: center;
    cursor: pointer;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#popup-background{
    display: none;
    z-index: 1000;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.login-container{
    background: #2D53C5;
    padding: 30px 30px 15px 30px;
    width: 300px;
    height: 155px;
    border: 0;
}

.login-container input{
    background-color: white;
    padding: 5px; 
    height: 40px;  
    width: 200px;
    margin-bottom: 15px;
    -webkit-appearance: none;
    border: 0;
}

#username{
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}

#password{
    width: 160px;
}

.icon-type{
    width: 200px;
    height: 40px;
    background: #DEDEDE;
    float:left;
    width: 40px;
       border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding-top: 8px;
}


.icon-type .login-alert{
    display: none;
}

.error .icon-type{
    background: #E73D1E;
}

.error .icon-type .login-alert{
    display: inline;
}

.error .icon-type .login-icon{
    display: none;
}

.icon-type img{
    width: 22px;
}

.icon-type.email{
    padding-top: 9px;
}


#submit{
    float: right;
    background: #5E83FF;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#submit img{
    width: 15px;
    padding-top: 5px;
}

textarea:focus, input:focus{
    outline: none;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.speaker .login{
    margin: 10px auto;
    padding: 10px 30px;
    background: #5B8AF5;
    color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.talk-tags{
    float: left;
    padding: 5px;
    margin: 0 10px 5px 0;
    background: #EAF1F5;
    color: #5788FF;
}

.speaker .votes{
    float: right;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.read-more{
    display: inline-block;
    margin-bottom: 10px;
    color: #5788FF;
    cursor: pointer;
}

.info{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.info#format{
    margin-bottom: 5px;
}

.info-title{
    float: left;
    width: 50px;   
    padding-top: 5px;    
}

.tags-container{
    float: right;
    width: calc(100% - 50px);
}

#short-description{
    float:left;
}

#large-description{
    float:left;
    display: none;
}

button.vote{
    display: inline-block;
    border: none;
    width: 18%;
    background: #5788FF;
    color: white;
    margin-left: 1%;
    margin-top: 5px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    outline:none;
}


button.vote:disabled{
    opacity: 0.7;
    cursor: default;
}

button.vote.selected{
    background: #E73D1E;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: none;
}

button:active, button:focus {
    outline: none;
}


.votes-container{
    float: right;
    width: calc(100% - 50px);
    margin-bottom: 20px;
}


button.vote.selected{
    background: #E73D1E;
}

input[type="button"]::-moz-focus-inner {
   border: 0;
}

.votes-title{
    float: left;
    width: 50px;
}

.total-score{
    color:#E73D1E;
    font-size: 24px;
    font-weight: bold;
}





/*Hotel*/

#hotel a {
    color: white;
    text-decoration: underline;
}

/*Sponsors*/

#sponsors {
    text-align: center;
}

#sponsors img {
    margin: 20px;
}

/*Footer*/

#footer-links p {
    font-size: 15px;
}

/*Media queries*/

@media (min-width: 768px) {

    #header-desktop {
        padding-top: 30px;
        display: flex;
        align-items: center;
    }

    #header-desktop #logo-desktop img {
        width: 100px;
    }

    #header-desktop #actions {
        text-align: right;
    }

}

@media (max-width: 768px) {

    .main-title {
        font-size: 40px;
    }

    .section-image-speaker-title {
        margin-top: -100px
    }

    .section-image-title {
        margin-top: -20px;
    }
}



